//  ================= FONT FACE STYLING ================= //
@font-face {
    font-family: 'condblack';
    src: url('../fonts/intro-cond/Intro Cond Black Free-webfont.eot');
    src: url('../fonts/intro-cond/Intro Cond Black Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro-cond/Intro Cond Black Free-webfont.woff2') format('woff2'),
         url('../fonts/intro-cond/Intro Cond Black Free-webfont.woff') format('woff'),
         url('../fonts/intro-cond/Intro Cond Black Free-webfont.ttf') format('truetype'),
         url('../fonts/intro-cond/Intro Cond Black Free-webfont.svg#intro_condblack_free') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'condlight';
    src: url('../fonts/intro-cond/Intro Cond Light Free-webfont.eot');
    src: url('../fonts/intro-cond/Intro Cond Light Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro-cond/Intro Cond Light Free-webfont.woff2') format('woff2'),
         url('../fonts/intro-cond/Intro Cond Light Free-webfont.woff') format('woff'),
         url('../fonts/intro-cond/Intro Cond Light Free-webfont.ttf') format('truetype'),
         url('../fonts/intro-cond/Intro Cond Light Free-webfont.svg#intro_condlight_free') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'born';
    src: url('../fonts/born/Born-webfont.eot');
    src: url('../fonts/born/Born-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/born/Born-webfont.woff2') format('woff2'),
         url('../fonts/born/Born-webfont.woff') format('woff'),
         url('../fonts/born/Born-webfont.ttf') format('truetype'),
         url('../fonts/born/Born-webfont.svg#bornregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamlight';
    src: url('../fonts/gotham/Gotham-Light-webfont.eot');
    src: url('../fonts/gotham/Gotham-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/Gotham-Light-webfont.woff2') format('woff2'),
         url('../fonts/gotham/Gotham-Light-webfont.woff') format('woff'),
         url('../fonts/gotham/Gotham-Light-webfont.ttf') format('truetype'),
         url('../fonts/gotham/Gotham-Light-webfont.svg#gothamlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gothammedium';
    src: url('../fonts/gotham/Gotham-Medium-webfont.eot');
    src: url('../fonts/gotham/Gotham-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/Gotham-Medium-webfont.woff2') format('woff2'),
         url('../fonts/gotham/Gotham-Medium-webfont.woff') format('woff'),
         url('../fonts/gotham/Gotham-Medium-webfont.ttf') format('truetype'),
         url('../fonts/gotham/Gotham-Medium-webfont.svg#gothammedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



