<template name="submitpost">
	<form id="submitpost">
		<div class="input-group">
			{{> flashMessages}}
		</div>
		<div class="input-group">
			<label for="title">Title: </label>
			<input type="text" name="title" placeholder="title" required>
		</div>
		<div class="input-group">
			<label for="body">Body: </label>
			<textarea name="body" cols="30" rows="10" placeholder="Your post" required></textarea>
		</div>
		<input type="submit" name="submit" class="btn submit" value="Submit">
		<button class="btn cancle dark">Cancle</button>
	</form>
</template>