<template name="about">
	<div id="about" class="container">
		<div class="col-1">
			<h1>About Travis</h1>
			<h2>Freelance Front End Developer</h2>
			<p>Travis is an extremely self motivated individual with a passion for his field and the web community. He enjoys being involved in all aspects of interactive media whether it is the design aspect, front-end developing, marketing, and/or client relations.</p>
			
			<h1>SKILLS</h1>
			<h2>Staying up to date with the newest trends and practices.</h2>
			<p>I mainly take on front end development projects now but with experience in these three disciplines, I am able to work on a project with the full scope in mind. Clients find this approach to be extremely valuable as I am able to easily integrate with and provide experience and advice on all aspects of a project.</p>
			<p>I create websites that allow the user to experience your website in the best and most appropriate way suited to the device they are using. By working using progressive enhancement, a website is delivered with a responsive layout that can best make use of the space available on the smallest to largest devices. Cross browser compatibility is ensured by using feature detection so older browsers still in use today provide a solid experience, whilst modern browsers can go the next step and enhance the users time spent on your site. Writing semantic markup that is documented and easy to read means it can be maintained and scaled in the future, and allows co-workers to quickly pick it up.</p>

			<h1>DESIGN</h1>
			<h2>A designer who fell in love with front end development</h2>

			<p>I officially call myself a Front End Developer, but have a long history of web design work too. In my experience, it is best to concentrate solely on one aspect of creating a website whilst still having applicable knowledge of other areas (such as design and back end development) to be of the most value.</p>
			<p>Although I no longer take on projects that are solely design now, I believe I can provide valuable design experience to a project, aim to achieve the same level of vision as a designer would and am just as comfortable working with Adobe Photoshop and Fireworks as I am writing code. With transitions, animations, video and audio APIs, a wide variety of ways to interact and so on, the web is more immersive than ever. This level of immersion is just as important to a user’s experience as design is, for this reason, a developer must have an exacting eye for detail just as a designer does.</p>

			<h1>BACKEND DEVELOPMENT</h1>
			<h2>Nothing is more satisfying than filling a fresh new template with back end data.</h2>
			<p>In many front end development roles and projects, I have been the centre figure between the design and back end development teams. To have a good understanding of both disciplines has been hugely beneficial. I often make use of PHP and use WordPress to allow for content management of many of the sites I create.</p>

			<h1>Other Skills</h1>
			<p>Having a wide range of skills makes you a more open and understaning individual, making you an indespensable asset to any team.
			For many projects I rely on tools and open-source libraries such as jQuery, SASS, Git, Grunt, Bower, and Modernizr. One of the newest frameworks I have been working with is Angular.js and from what I have seen it is worth all the hype. I am really excited about where the web is going and that javascript seems to be deeply rooted with these new technologies.</p>
		</div>
		<div class="col-2">
			<img src="img/trav-cartoon.png">
			<a href="mailto:travis@travismichael.net">travis@travismichael.net</a>
		</div>
	</div>
</template>