<template name="footer">
	<div class="container">
		<div class="col-1">
			<p>A Bachelor degree in Interactive media Design from The Art Institute of Atlanta, Travis combines his education with 6 years commercial experience in CSS3, HTML5, JavaScript, WordPress, and design to produce creative and effective websites for happy clients over the world.</p>
		</div>
		<div class="col-2">
			<a href="#">ABOUT</a>
            <p>Learn about Travis skills and philosophy.</p>
            <a href="#">PORTFOLIO</a>
            <p>Check out Travis work and experiences.</p>
            <a href="#">CONTACT</a>
            <p>Find out how to reach Travis or leave him a message.</p>
		</div>
	</div>

</template>