<template name="addproject">
	<div id="addproject" class="container">
	{{#if admin}}
		<h1>Add Project</h1>
		<a class="quicknav open" href="{{pathFor 'admin'}}">Back to Admin page</a>
		<div id="message">Your Project was added to database</div>
		{{> flashMessages}}
		<form id="add-project" enctype="multipart/form-data">
			<div class="input-group">
				<label>Project Name</label>
				<input type="text" name="name" placeholder="Project Name">
			</div>
			<div class="input-group half">
				<label for="tags">Project Tags</label>
				<input type="text" name="tags" placeholder="Project tags">
			</div>
			<div class="input-group half">
				<label for="category">Project Category</label>
				<select name="category" id="category">
					<option value="web">Web</option>
					<option value="animation">Animation</option>
					<option value="illustration">Illustration</option>
					<option value="effect">4D Effects</option>
					<option value="video">Video</option>
				</select>
			</div>
			<div class="input-group half">
				<label for="short_description">Project Short Description</label>
				<textarea name="short_description" placeholder="Project short_description" cols="30" rows="10"></textarea>
			</div>
			<div class="input-group half">
				<label for="long_description">Project Long Description</label>
				<textarea name="long_description" placeholder="Project long_description" cols="30" rows="10"></textarea>
			</div>
			<div class="input-group">
				<label for="projectImage">Upload Project image: </label>
				<input type="file" name="projectImage" id="projectImage">
			</div>
			<div class="input-group">
				<button class="btn submit padding">Add Project</button>
			</div>
		</form>
	{{else}}
		<h2>You do not have the correct administration for this page.</h2>
		<a href="{{pathFor 'home'}}">Go home</a>
	{{/if}}
	</div>
</template>